#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424;
}

ul {
  display: block;
  text-align: left;
  padding-inline-start: 0;
}

.submit-input-form {
  padding: 8px 0;
  flex-direction: column;
  padding: 8px 0;
}